aiohttp>=3.11.18
beautifulsoup4>=4.13.4
crawl4ai>=0.6.3
fastapi>=0.115.12
lxml>=5.4.0
matplotlib>=3.10.3
nest-asyncio>=1.6.0
numpy>=2.2.5
opencv-python>=4.11.0.86
pandas>=2.2.3
pyautogui>=0.9.54
python-dotenv>=1.1.0
requests>=2.32.3
rich>=14.0.0
streamlit>=1.45.0
uvicorn>=0.34.2
extruct>=0.18.0